body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #add8e6; /* Светлосиний фон */
}

header {
    background-color: rgb(26, 115, 232); /* Темно-синий цвет для шапки */
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: rgb(26, 115, 232); /* Темно-синий цвет для шапки */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

form button {
    padding: 10px;
    background-color: #87ceeb; /* Синий цвет для кнопок */
    color: #fff;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: #4682b4; /* Темно-синий при наведении */
}

/* Стили для товаров */
.product {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.product h3 {
    margin-top: 0;
}
